<?php
class Config {
  const MYSQL_HOST = 'localhost';
  const MYSQL_PORT = 3306;
  const MYSQL_USERNAME = 'MYSQL_USERNAME';
  const MYSQL_PASSWORD = 'MYSQL_PASSWORD';
  const MYSQL_DATABASE = 'MYSQL_DATABASE';

  const MEMCACHED_HOST = 'localhost';
  const MEMCACHED_PORT = 11211;
  const MEMCACHED_DEFAULT_LIFESPAN = 20; // in seconds.

  const RECS_ENGINE_HOST = 'localhost';
  const RECS_ENGINE_PORT = 6275;

  const APP_ROOT = '/var/www';         // no trailing backslash!
  const ROOT_URL = 'http://your.domain.here';  // no trailing backslashes!

  const SERVER_TIMEZONE = 'Your/timezone';
  const OUTPUT_TIMEZONE = 'Timezone/to/output';

  // logging settings.
  const LOG_FILE = '/var/log/animurecs.log';

  // settings for debugging in development environments.
  const DEBUG_ON = False;
}
date_default_timezone_set(Config::SERVER_TIMEZONE);
error_reporting(E_ALL ^ E_NOTICE);
?>