<?php
define('MYSQL_HOST', 'localhost');
define('MYSQL_USERNAME', 'MYSQL_USERNAME');
define('MYSQL_PASSWORD', 'MYSQL_PASSWORD');
define('MYSQL_DATABASE', 'MYSQL_DATABASE');
define('APP_ROOT', '/var/www'); // no trailing backslash!
define('ROOT_URL', 'http://your.domain.here'); // no trailing backslashes!

define('SERVER_TIMEZONE', 'Your/timezone');
define('OUTPUT_TIMEZONE', 'Timezone/to/output');

// settings for debugging in development environments.
define('DEBUG_ON', False);
error_reporting(E_ALL ^ E_NOTICE);
?>