*.sublime-project
*.sublime-workspace
dbv/data/meta/revision
config.php
Thumbs.db
less
/public/img/users/*/*
/public/img/anime/*/*
*.psd
ideas.txt
composer.lock
/vendor/
/logs/
_site
_includes
_plugins
.vagrant
Vagrantfile
bootstrap.sh
vagrant_setup
.idea
scripts/config.txt