<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class='jumbotron'>
        <h1>Welcome to the Animurecs testing platform!</h1>
        <p>This is where new features (and bugfixes) will be tested prior to rolling out on the main site.</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      Something here
    </div>
    <div class='col-md-6'>
      Something here
    </div>
  </div>
</div>