          <div class='profileTabs' ng-controller="UsersProfileController as profileCtrl">
            <ul class='nav nav-tabs'>
              <li ng-class="{ active: currentTab == t.url }" ng-repeat="t in tabs">
                <a href='#' ng-click="currentTab = t.url">{{ t.name }}</a>
              </li>
            </ul>
            <div class='tab-content'>
              {{ currentTab.url }}
              <div class='tab-pane' ng-include="currentTab.url"></div>
            </div>
          </div>