    <div class='landing' ng-controller='LandingPageController as landingPage'>
      <div class="row-fluid landing-banner">
        <div class="landing-container">
          <h1>Intelligent anime recommendations.</h1>
          <h2>Find great shows without the hassle.</h2>
        </div>
      </div>
      <div class='row-fluid landing-container'>
        &nbsp;
      </div>
      <div class='row-fluid landing-container'>
        <p class='lead'>Sign up for Animurecs for free: <a class='btn btn-lg btn-success' href='/register.php'>Sign up</a></p>
      </div>
      <div class="row-fluid landing-container">
        <div class="landing-box">
          <p class='lead'>Track your anime progress. Never have to worry about forgetting what episode you're on.</p>
          <a href="http://test.animurecs.com/users/{{ user.username }}"><img src='/img/animurecs-feed-comment.png' alt='Activity feed with comments' /></a>
        </div>
        <div class="landing-box">
          <p class='lead'>Get great recommendations. Without having to dig through mountains of shows you won't like.</p>
          <a href="http://test.animurecs.com/users/{{ user.username }}/discover"><img src='/img/animurecs-anime-recommendations.png' alt='Recommendations based on your tastes' /></a>
        </div>
        <div class="landing-box">
          <p class='lead'>Stay current with friends. Find and join groupwatches effortlessly.</p>
          <a href="http://test.animurecs.com/users/{{ user.username }}/discover#groupwatches"><img src='/img/animurecs-groupwatches.png' alt='List of potential groupwatches with friends' /></a>
        </div>
      </div>
      <div class='row-fluid landing-container'>
        <p class='lead'>Sign up for Animurecs for free: <a class='btn btn-lg btn-success' href='/register.php'>Sign up</a></p>
      </div>
    </div>