<div class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a href='/' class='navbar-brand' href='#'>Animurecs</a>
    </div>
    <div class='collapse navbar-collapse'>
      <ul class="nav navbar-nav" ng-if="currentUser">
        <li class='divider-vertical'></li>
        <li><a ng-href='/dashboard'><i class='glyphicon glyphicon-th-list glyphicon-white'></i> Dashboard</a></li>
        <li class='divider-vertical'></li>
        <li><a ng-href='/users/{{ currentUser.username }}'><i class='glyphicon glyphicon-home glyphicon-white'></i> You</a></li>
        <li class='divider-vertical'></li>
        <li><a href='/users/'><i class='glyphicon glyphicon-globe glyphicon-white'></i> Connect</a></li>
        <li class='divider-vertical'></li>
        <li><a ng-href='/users/{{ currentUser.username }}/discover'><i class='glyphicon glyphicon-star glyphicon-white'></i> Discover</a></li>
        <li class='divider-vertical'></li>
      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <navbar-search ng-if="currentUser"></navbar-search>
        <navbar-alerts ng-if="currentUser"></navbar-alerts>
        <navbar-user ng-if="currentUser"></navbar-user>
        <navbar-login ng-if="!currentUser"></navbar-login>
      </ul>
    </div>
  </div>
</div>