<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Charles Guo" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/animurecs.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="site">
    <div class="top-banner">
      <ul class="title">
        <li><a href="https://animurecs.com">Animurecs</a></li>
        <li><a class="extra" href="/">Home</a></li>
      </ul>
    </div>
    {{ content }}
    
    <div class="footer">
      <hr />
      Copyright &copy; 2013
    </div>
  </div>

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37523517-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- Google Analytics end -->
</body>
</html>